<div class="account-container">
<h2>Account details</h2>
<p>Xp needed to level up</p>
<p>// TODO add level</p>
<p>Level</p>
<p><%= level %></p>
<p>Xp This level</p>
<p><%= level %></p>
<p>Base xp to level 1</p>
<p><%= basexpToLevel %></p>
<p>Streak</p>
<p><%= streak %></p>
<p>Longest streak</p>
<p><%= longestStreak %></p>
<p>Level multiplier</p>
<p><%= levelIncrease %></p>
<p>Name</p>
<p><%= name %></p>
<p>Username</p>
<p><%= username %></p>
<p>Mail </p>
<p><%= mail %></p>
<p>XP</p>
<p><%= xp %></p>
<p>Password</p>
<button>Change Password</button>
<button>Delete Account</button>
<P>Delete this account and all data related to the account. Warning this action is irreversible</P>
</div>