<div class="level-container">
    <h2>Progress and tracking</h2>
    <p>Streak: <%= streak %></p>
    <% 
    const xpForNextLevel = basexpToLevel * Math.pow(levelIncrease, level);
    const xpPercent = Math.min((levelxp / xpForNextLevel) * 100, 100).toFixed(2); 
%>

<div class="xp-progress-container">
    <div class="xp-label">Level <%= level %> – <%= levelxp %> / <%= Math.round(xpForNextLevel) %> XP</div>
    <div class="xp-bar">
        <div class="xp-fill" style="width: <%= xpPercent %>%;"></div>
    </div>
</div>

    <p>List of level up rewards</p>
    <% if (rewards.length > 0 ) { %>
        <% for (let i = 0; i < rewards.length; i++) { %>
            <p><%= rewards[i] %></p>
        <% } %>
    <% } %>
    <form action="/add-rewards" method="post" class="add-rewards">
        <label for="reward">Add a reward</label>
        <input type="text" id="reward" name="reward">
        <button>Add reward</button>
    </form>

    <p>List of Goals you want to reach</p>
    <% if (goals.length > 0 ) { %>
        <% for (let i = 0; i < goals.length; i++) { %>
            <p><%= goals[i] %></p>
        <% } %>
    <% } %>
    <form action="/add-goals" method="post" class="add-goals">
        <label for="goal">Add a goal</label>
        <input type="text" id="goal" name="goal">
        <button>Add goal</button>
    </form>
</div>